/* styles.css 

body {
  background-color: #f0f0f091;
  font-family: Arial, sans-serif;
}

h1 {
  color: #2c3e50;
  text-align: center;
}

p {
  color: #34495e;
  font-size: 18px;
  text-align: center;
}

